In [14]:
import pandas as pd

games = pd.read_csv("Data/games.csv", parse_dates=["GAME_DATE_EST"])
details = pd.read_csv("Data/games_details.csv", low_memory=False)
teams = pd.read_csv("Data/teams.csv")
ranking = pd.read_csv("Data/ranking.csv")
player = pd.read_csv("Data/players.csv")

In [6]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26651 entries, 0 to 26650
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE_EST     26651 non-null  datetime64[ns]
 1   GAME_ID           26651 non-null  int64
 2   GAME_STATUS_TEXT  26651 non-null  object
 3   HOME_TEAM_ID      26651 non-null  int64
 4   VISITOR_TEAM_ID   26651 non-null  int64
 5   SEASON            26651 non-null  int64
 6   TEAM_ID_home      26651 non-null  int64
 7   PTS_home          26552 non-null  float64
 8   FG_PCT_home       26552 non-null  float64
 9   FT_PCT_home       26552 non-null  float64
 10  FG3_PCT_home      26552 non-null  float64
 11  AST_home          26552 non-null  float64
 12  REB_home          26552 non-null  float64
 13  TEAM_ID_away      26651 non-null  int64
 14  PTS_away          26552 non-null  float64
 15  FG_PCT_away       26552 non-null  float64
 16  FT_PCT_away       26552 non-null  float64
 17  FG3_PCT_away      26552 non-null  float64
 18  AST_away          26552 non-null  float64
 19  REB_away          26552 non-null  float64
 20  HOME_TEAM_WINS    26651 non-null  int64
dtypes: datetime64[ns](1), float64(12), int64(7), object(1)
memory usage: 4.3+ MB

In [12]:
print(games["GAME_DATE_EST"].min())
print(games["GAME_DATE_EST"].max())

2003-10-05 00:00:00
2022-12-22 00:00:00

In [15]:
player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7228 entries, 0 to 7227
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PLAYER_NAME  7228 non-null   object
 1   TEAM_ID      7228 non-null   int64
 2   PLAYER_ID    7228 non-null   int64
 3   SEASON       7228 non-null   int64
dtypes: int64(3), object(1)
memory usage: 226.0+ KB

In [20]:
teams[teams["ABBREVIATION"]=="GSW"]

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
29,0,1610612744,1946,2019,GSW,Warriors,1946,Golden State,Chase Center,19596.0,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors

In [18]:
"player.groupby(player["TEAM_ID"]).count()

            PLAYER_NAME  PLAYER_ID  SEASON
TEAM_ID
1610612737          245        245     245
1610612738          250        250     250
1610612739          272        272     272
1610612740          275        275     275
1610612741          223        223     223
1610612742          250        250     250
1610612743          221        221     221
1610612744          238        238     238
1610612745          265        265     265
1610612746          233        233     233
1610612747          234        234     234
1610612748          249        249     249
1610612749          243        243     243
1610612750          223        223     223
1610612751          248        248     248
1610612752          242        242     242
1610612753          216        216     216
1610612754          215        215     215
1610612755          263        263     263
1610612756          240        240     240
1610612757          220        220     220
1610612758          239        239     239
1610612759          236        236     236
1610612760          238        238     238
1610612761          225        225     225
1610612762          239        239     239
1610612763          276        276     276
1610612764          257        257     257
1610612765          222        222     222
1610612766          231        231     231

In [24]:
player[player["TEAM_ID"]==1610612744]

              PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
125         Eric Paschall  1610612744    1629672    2019
126          Kevon Looney  1610612744    1626172    2019
127   Willie Cauley-Stein  1610612744    1626161    2019
128    Glenn Robinson III  1610612744     203922    2019
129            Alec Burks  1610612744     202692    2019
...                   ...         ...        ...     ...
7122          Mikki Moore  1610612744       1630    2009
7138     Kelenna Azubuike  1610612744     101235    2009
7142      Stephen Jackson  1610612744       1536    2009
7143             Acie Law  1610612744     201151    2009
7190         Shaun Pruitt  1610612744     202065    2009

[238 rows x 4 columns]

In [ ]:
# 파생지표 생성 예시
# 어시스트 대비 턴오버 비율
details["AST_TO_ratio"] = details["AST"] / details["TO"].replace(0, 1)

# 총 리바운드 비율
details["REB_share"] = details["REB"] / (details["REB"] + details["OPP_REB"])

# 슈팅 효율
details["TS_pct"] = details["PTS"] / (2 * (details["FGA"] + 0.44*details["FTA"]))

In [ ]:
import matplotlib.pyplot as plt

# 승리 vs 패배에 따른 필드골 성공률 비교
games.boxplot(column="FG_PCT_home", by="HOME_TEAM_WINS")
plt.title("Field Goal % by Home Team Wins")
plt.suptitle("")
plt.show()

# 팀별 승률
team_winrate = ranking.groupby("TEAM")["W_PCT"].mean().sort_values(ascending=False)
team_winrate.plot(kind="bar", title="Average Team Win Percentage")
plt.show()